* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #E8BA82;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.logo-starhousedecor {
  margin-top: 3%;
}

@keyframes animated-shadow {
  from {
    box-shadow: 0;
  }
  to {
    box-shadow: 40px 40px 20px #000e;
  }
}
.pdf-container {
  padding: 5em;
  min-width: 850px;
  background-color: #101010;
  border: solid 2px #15151590;
  border-radius: 10px;
  animation: animated-shadow 1s forwards ease-in-out;
}
.pdf-title {
  display: inline;
  color: #DDD;
  font-size: 3.3rem;
}
.button-to-download {
  text-decoration: none;
  font-size: 1.5rem;
  background-color: #DDD;
  border-radius: 15px;
  padding: 1em;
  border: solid 2px #151515;
  margin-top: 2em;
}
.button-to-download:hover {
  background-color: #A81033;
  color: #FFF;
  transition: 1s;
  cursor: pointer;
}
.pdf-link-to-download {
  color: #303030;
  text-decoration: none;
}
.pdf-link-to-download:hover {
  color: #FFF;
}

@media (max-width: 860px) {
  .pdf-container {
    min-width: 650px;
    margin: 0 1% 0 3%;
  }
}
